.navbar {
    height: 50px;
    border-bottom: 0.5px round($number: 2) rgb(230, 227, 227);
    display: flex;
    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 1px rgbs(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    font-size: 14px;

    .wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        justify-content: space-between;

        .search {
            background-color: rgb(189, 189, 189);
            display: flex;
            align-items: center;
            border: 00.5px solid lightgrey;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                ::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon {
                    font-size: 20px;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}